body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.odinRecipes {
  text-align: center;
  margin: 20px 30%;
  background-color: #C6B9FF;
}

.recipeList {
  border: 1px solid black;
  text-align: left;
  background-color: white;
}

h1 {
  text-align: center;
}

.recipe {
  border: 2px solid black;
  background-color: white;
  position: relative;
  height: 825px;
  width: 785px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
}