body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.odinRecipes {
  text-align: center;
  margin: 20px 30%;
  background-image: url(https://t3.ftcdn.net/jpg/01/66/37/30/360_F_166373046_qSUBKLI29KeLAv2CpGrDo5juU7mUFOUw.jpg);
  background-size: cover;
  height: 100vh;
  background-color: #EE672D;
}

.recipeList {
  border: 2px solid black;
  text-align: left;
  background-color: white;
  height: 300px;
  font-size: 19px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 170px;
}

h1 {
  text-align: center;
  border-bottom: 2px solid black;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: purple;
}

.main {
  background-image: url(https://st.depositphotos.com/1899467/1873/i/450/depositphotos_18736747-Dark-wood-texture-background.jpg);
  background-size: cover;
  background-color: #EE672D;
}

.recipe {
  border: 2px solid black;
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
}

#lemonPepperChicken {
  border: 1px solid black;
  position: absolute;
  top: 35px;
}

.box {
  border: 1px solid black;
  padding: 10px;
  position: relative;
}

.box2 {
  border: 1px solid black;
  padding: 10px;
  position: relative;
  top: 30px;
}

.box.r1 {
  height: 428px;
  width: 350px;
  left: 430px;
}

.box.r2 {
  height: 525px;
  width: 330px;
}

.recipe.r1 {
  height: 825px;
  width: 800px;
}

#tunaCasserole {
  border: 1px solid black;
  position: absolute;
  top: 35px;
  left: 420px;
}

.recipe.r2 {
  height: 920px;
  width: 818px;
}

.box2.r1 {
  height: 320px;
  width: 780px;
}

.box2.r2 {
  height: 320px;
  width: 795px;
}

#krispies {
  border: 1px solid black;
  position: absolute;
  top: 35px;
}

.box.r3 {
  height: 375px;
  width: 330px;
  left: 370px;
}

.box2.r3 {
  height: 260px;
  width: 700px;
}

.recipe.r3 {
  height: 710px;
  width: 722px;
}