body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.odinRecipes {
  text-align: center;
  margin: 20px 30%;
  background-color: #C6B9FF;
}

.recipeList {
  border: 1px solid black;
  text-align: left;
  background-color: white;
}

h1 {
  text-align: center;
}